#arena
arena/*
.DS_Store
*~
README.html

# here are the paths for all the binaries
bin/Genepop
bin/consense
bin/gendist
bin/neighbor
bin/seqboot
inputs/ForColony/bin/
inputs/ForStructure/bin/
inputs/ForStructure/clump_and_distruct/bin/
inputs/ForStructure/structure2.3.4
inputs/parallel
pc/
.Rproj.user
.Rhistory
